# Byte-compiled / optimized / DLL files
__pycache__/
*.ipynb_checkpoints/
*.idea/
*.py[cod]
.vscode/

# dataset
Inputs/
data_all/
Trained_models/
Trained models/
Results/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Coverage
htmlcov/
.coverage
